body {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    margin: 0;
    padding: 0;
}

header, .topmenu, .mid-menu {
    grid-column: 2;
    width: 100%;
    max-width: 1200px; /* Set a max-width for the elements */
    margin: 0 auto; /* Center the elements within their container */
}

header img {
    width: 100%;
    height: auto;
    background-color: mediumpurple;
}

/* Additional styles for .topmenu and .mid-menu */
.topmenu {
    background-color: #f0f0f0; /* Lys grå baggrund */
    overflow: hidden;
    font-size: 14px; /* Small text size */
    display: flex;
    justify-content: space-between; /* Links til venstre, kurv til højre */
    align-items: center;
    padding: 0 20px; /* Lidt indvendig afstand */
}

.topmenu a {
    display: inline-block;
    padding: 14px 20px; /* Afstand omkring links */
    text-decoration: none;
    color: #666; /* Let grå tekstfarve */
    text-align: center;
}

.topmenu .kurv {
    margin-left: auto; /* Sørger for at kurven kommer helt til højre */
    color: #090505;
    display: flex;
    align-items: center; /* Justerer ikon og tekst vertikalt */
}

.topmenu .kurv i {
    font-size: 24px; /* Størrelsen på kurv-ikonet */
    margin-right: 8px; /* Afstand mellem ikon og tekst */
}

.topmenu a:hover {
    background-color: #ddd; /* Lys grå baggrund på hover */
    color: black; /* Tekstfarve på hover */
}

.topmenu a.active {
    background-color: #4CAF50; /* Aktivt link baggrundsfarve */
    color: white; /* Aktivt link tekstfarve */
}

.mid-menu {
    background-color: #f0f0f0;
    padding: 0 5px 0 5px;
}

.mid-menu h1 {
    padding-top: 20px;
}

.mid-menu .dropdown {
    display: flex;
    justify-content: flex-start;
    gap: 150px;
}

.mid-menu .kurv {
    padding: 0 40px 20px 0;
    display: flex;
    justify-content: flex-end;
}

.mid-menu button[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.update-btn {
    background-color: #e39d08;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.update-btn:hover {
    background-color: #b47509;
}

.total-price-container {
    text-align: right;
    margin-right: 50px;
    margin-bottom: 10px;
}

.mb-3 {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.valg-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
