<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments :: head('Creat User')}"></div>


<body style="margin: 1px;">

<div th:replace="~{fragments :: top-nav-createUser}"></div>


<div class="mid-menu">
    <p class="text-center p-2 fs-2">Opret bruger:</p>
    <form method="post" action="/createuser">
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="example@example.com">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password1" placeholder="Adgangskode">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password2" placeholder="Gentag adgangskode">
        </div>
        <div class="input-group mt-3 d-flex ms-auto justify-content-center">
            <button class="btn btn-success btn-outline-success text-light" style="width: 400px; height: auto"
                    type="submit"
                    formaction="/createuser">Opret bruger
            </button>
        </div>
        <div><p th:text="${message}"></p></div>
    </form>
</div>
</body>
</html>