<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments :: head('Front page')}"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body style="margin: 1px;">
<!--- Change topmenu in the fragments.html --->
<div th:replace="~{fragments :: top-nav}"></div>

<div class="mid-menu">
    <h1>Velkommen ombord</h1>
    <div th:if="${#ctx.message!=null}" th:text="${#ctx.message}">

    </div>
    <h2>Øens bedste cupcakes. Vælg og bestil her:</h2>

    <form method="post">
        <div style="display: flex; justify-content: space-between; width: 50vw;">
            <div>
                <label for="bottom">Vælg bund:</label>
                <select id="bottom" name="bottom" class="form-select">
                    <option value="" disabled selected>Vælg bund</option>
                    <option th:each="bottom: ${bottomsList}" th:value="${bottom.bottomId}" th:text="${bottom.bottomName} + ' - ' + ${bottom.bottomPrice} + 'DKK'"></option>
                </select>
            </div>
            <div>
                <label for="topping">Vælg topping:</label>
                <select id="topping" name="topping" class="form-select">
                    <option value="" disabled selected>Vælg topping</option>
                    <option th:each="topping: ${toppingsList}" th:value="${topping.toppingId}" th:text="${topping.toppingName} + ' - ' + ${topping.toppingPrice} + 'DKK'"></option>
                </select>
            </div>
            <div>
                <label for="quantity">Antal:</label>
                <select id="quantity" name="quantity" class="form-select">
                    <option value="" disabled selected>Vælg Antal</option>
                    <option th:each="i:${#numbers.sequence(1,10)}"
                            th:value="${i}" th:text="${i}">
                    </option>
                </select>
                <input type="number" id="custom-antal" name="custom-antal" style="display: none;">
            </div>
        </div>
        <div class="kurv" style="margin-top: 20px;">
            <div class="kurv" th:if="${session.currentUser != null}">
                <button type="submit" formaction="addtobasket" style="width: 300px">Læg i kurv</button>
            </div>
            <div class="mt-4" th:if="${session.currentUser == null}">
                <div class="input-group mt-3 d-flex ms-auto justify-content-center">
                    <button type="submit" class="btn btn-success btn-outline-success text-light" style="width: 1000px; height: auto"
                            formaction="/login" th:href="@{/login.html}">Login
                    </button>
                </div>

        </div>
        </div>
    </form>

</div>


<script>
    const dropdown = document.getElementById('antal-dropdown');
    const customInput = document.getElementById('custom-antal');
    const antalValgContainer = document.querySelector('.antal-valg');

    dropdown.addEventListener('change', function() {
        if (dropdown.value === 'more') {
            dropdown.style.display = 'none';
            customInput.style.display = 'block';
            customInput.focus();
        }
    });

    document.addEventListener('click', function(event) {
        if (!antalValgContainer.contains(event.target)) {
            dropdown.style.display = 'block';
            dropdown.value = "1";
            customInput.style.display = 'none';
        }
    });
</script>
</body>
</html>