<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments :: head('Front page')}"></div>


<body style="margin: 1px;">
<!--- Change topmenu in the fragments.html --->
<div th:replace="~{fragments :: top-nav}"></div>

<div class="mid-menu">
    <h1>Velkommen ombord</h1>
    <h2>Øens bedste cupcakes. Vælg og bestil her:</h2>

    <div class="dropdown">
        <select name="kage">
            <option value="default">Vælg bund</option>
            <option value="choice1">Chokolade</option>
            <option value="choice2">Vanilje</option>
        </select>

        <select name="topping">
            <option value="default">Vælg topping</option>
            <option value="choice1">Chokolade frosting</option>
            <option value="choice2">Jordbær</option>
        </select>

        <select name="antal">
            <option value="default">Vælg antal</option>
            <option value="choice1">1</option>
            <option value="choice2">2</option>
        </select>

    </div>

    <div class="kurv" th:if="${session.currentUser != null}">
        <button type="submit">Læg i kurv</button>
    </div>


    <div class="mt-4" th:if="${session.currentUser == null}">
        <a href="/login" th:href="@{/login.html}" class="btn btn-success"
           style="width: max(35vw)">
            Login
        </a>
    </div>

</div>

</body>
</html>