<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="top-nav">

</header>

<div th:replace="~{fragments :: head('Login')}"></div>

<body style="margin: 1px;">

<div th:replace="~{fragments :: top-nav-createUser}"></div>

<div class="mid-menu">
    <p class="text-center p-2 fs-2">Login:</p>
    <form method="post">
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="example@example.com">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Adgangskode">
        </div>
        <div class="input-group mt-3 d-flex ms-auto justify-content-center">
            <button type="submit" class="btn btn-success btn-outline-success text-light" style="width: 1000px; height: auto"
                    formaction="/login"th:href="@{/login.html}">Login
            </button>
        </div>
        <div class="input-group mt-3 d-flex ms-auto justify-content-center">
            <p><a href="createuser.html" th:href="@{/createuser}" class="btn btn-primary" style="width: max(35vw)"> Create new account</a></p>
        </div>
    </form>

</div>

</body>
</html>